@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<button type="button" onclick="SendEmail()" class="btn">Test Email</button>

<script>
    function SendEmail() {
        alert("DOES THIS WORK?");

        $.ajax({
            url: "../Email/SendTestEmail",
            dataType: "json",
            type: "GET",
        }).done(function (data) {
        });

    }
</script>